In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\user\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: click in c:\users\user\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\user\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: joblib in c:\users\user\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk
nltk.__version__

'3.7'

In [3]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [7]:
pip install spacy

Requirement already satisfied: spacy in c:\users\user\anaconda3\lib\site-packages (3.4.1)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (1.0.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from spacy) (3.0.7)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from spacy) (61.2.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (3.3.0)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (8.1.1)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (0.4.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\user\anaconda3\lib\site-packages (from spacy) (2.4.4)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\user\anaconda3\lib\site-packages (from spacy) (2.0.6)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in c:\users\user\anaconda3\lib\site-packages (from spacy) (3.0.10)
Requirement already satisfied: pathy>=0.3.5 in c:\users\user\anaconda3\lib\site-packages (from spacy) (0.6.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\user\anaconda3\lib\site-packages (from spacy) (2.0.8)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (2.27.1)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in c:\users\user\anaconda3\lib\site-packages (from spacy) (0.10.1)
Requirement already satisfied: numpy>=1.15.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (1.21.5)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (4.64.0)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (21.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in c:\users\user\anaconda3\lib\site-packages (from spacy) (1.9.2)
Requirement already satisfied: jinja2 in c:\users\user\anaconda3\lib\site-packages (from spacy) (2.11.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (1.0.8)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\user\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (3.0.4)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in c:\users\user\anaconda3\lib\site-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\user\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4->spacy) (4.1.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.3)
Requirement already satisfied: blis<0.10.0,>=0.7.8 in c:\users\user\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.9.1)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\users\user\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.0.1)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\user\anaconda3\lib\site-packages (from typer<0.5.0,>=0.3.0->spacy) (8.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\user\anaconda3\lib\site-packages (from jinja2->spacy) (2.0.1)

In [8]:
import spacy 
spacy.__version__

'3.4.1'

In [9]:
# in anaconda propmt

# python -m spacy download en_core_web_sm
# or
# python -m spacy download en_core_web_lg

In [10]:
import spacy
nlp = spacy.load("en_core_web_lg")

In [11]:
import re

In [1]:
%%writefile test.txt
This is a test file

Writing test.txt

In [4]:
my_file = open('test.txt')
my_file.read()

'This is a test file\n'

In [ ]:
#Reading by line

In [3]:
my_file.read()

''

In [5]:
my_file.seek(0)

0

In [ ]:
#Reading all lines

In [7]:
my_file.readlines()

[]

In [8]:
my_file.close()

In [9]:
my_file = open('test.txt', 'w+')

In [10]:
my_file.write('This is a new first line')

24

In [11]:
my_file = open('test.txt', 'a+')

In [12]:
my_file.write('\nThis line is being appended to test.txt')

40

In [13]:
%%writefile -a test.txt
This is more text being appendedd to test.txt
And another line here.

Appending to test.txt

In [14]:
with open('test.txt', 'r') as txt:
    first_line = txt.readlines()[0]

In [15]:
print(first_line)

This is a new first lineThis is more text being appendedd to test.txt

In [16]:
with open('test.txt', 'r') as txt:
    for line in txt:
        print(line, end=' ') # the end=' ' argument removes extra linebreaks

This is a new first lineThis is more text being appendedd to test.txt
 And another line here.

In [17]:
#importing csv

In [18]:
import pandas as pd

In [29]:
data1 = pd.read_csv('01.csv',skiprows = 2)

In [30]:
data1.head()

   Equipments  1    Air Heaters  102
0  Equipments  1     Air Cooler  103
1  Equipments  1   Exhaust Fans  104
2  Equipments  1    Air Filters  105
3  Equipments  1  Electric Fans  106
4  Equipments  1        Kettles  107

In [34]:
#importing excel file

In [31]:
data2 = pd.read_excel('02.xlsx', skiprows = 2)

In [33]:
data2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Please do not change the template headings.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,First data column must be blank.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"If you are uploading new records, leave the ""n...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# ANnother methods for importing files

In [37]:
outfile = open('03.csv', 'w')
outfile.write('a')
outfile.close()

In [38]:
outfile = open('04.xls', 'w')
outfile.write('a')
outfile.close()

In [39]:
f= open('5.txt','w') #write
f.write('write this line in the file')
f.close()

In [40]:
f= open('5.txt','r') #read
for a in f:
    print(a)

write this line in the file

In [41]:
f= open('5.txt','a') #append
f.write('\nmore lines')
f.close()

In [42]:
f= open('5.txt','r') #read
for a in f:
    print(a)

write this line in the file

more lines

In [43]:
import numpy as np
data3 = pd.DataFrame(pd.Series(np.random.rand(10000)))
data3.head(20)

           0
0   0.010918
1   0.825990
2   0.236174
3   0.928951
4   0.981282
5   0.748720
6   0.629590
7   0.121486
8   0.316037
9   0.928652
10  0.607544
11  0.184438
12  0.385771
13  0.282447
14  0.221983
15  0.475809
16  0.510158
17  0.849710
18  0.472138
19  0.652241

In [44]:
data3.to_csv('6.csv')

In [45]:
#Writing in Arabic

In [46]:
f.write('\nاللغة العربية')

UnsupportedOperation: not writable

In [47]:
f= open('7.txt','w', encoding="utf8") 
f.write('سطور باللغة العربية')
f.close()

In [48]:
f= open('7.txt','a', encoding="utf8") 
f.write('\nسطر ثاني')
f.write('\nسطر ثالث')
f.write('\nسطر رابع')
f.write('\nسطر أخير')
f.close()

In [49]:
f= open('7.txt','r', encoding="utf8") 
for a in f:
    print(a)

سطور باللغة العربية

سطر ثاني

سطر ثالث

سطر رابع

سطر أخير